.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000;
  color: #fff;

}
.navbar a {
  color: #fff;
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  margin-right: 40px;
}



mat-sidenav {
  width: 250px;
}

