
.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button{
  width: 100%;
  margin: .8rem auto;
  background-color: #829eb6;
}

.lista {
  background-color: rgba(63, 67, 67, 0.023);
}

h1{
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.edit {
  color: rgb(0, 149, 255);
}

.delete {
  color: red;
}
